<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/reset.css" />

    <link rel="stylesheet" href="../../assets/css/header.css" />

    <link rel="stylesheet" href="./aboutus.css" />
    <title>About us - CoffeePag</title>
  </head>

  <body>
    <!-- header -->
    <header class="header">
      <div class="header__container">
        <!-- logo -->
        <div class="header__container__logo">
          <img src="../../assets/img/logo_sinFondo.png" alt="Logo WLANS">
        </div>
        <!-- /logo -->
        <nav class="hmenu">
          <ul class="header__container__menu">
            <li class="header__container__menu__list">
              <a class="select" href="../../../index.html">Inicio</a>
            </li>
            <li class="header__container__menu__list">
              <a class="select active" href="./aboutus.html">Acerca</a>
            </li>
            <li class="header__container__menu__list">
              <a class="select" href="#">Cursos</a>
            </li>
            <li class="header__container__menu__list">
              <a class="select" href="#">Contactenos</a>
            </li>
            <li class="header__container__menu__list">
              <a href="#"
                ><img
                  class="sizeimg"
                  src="../../assets/img/shoppingcart.png"
                  alt="Shopping cart icon"
              /></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- /header -->

    <!-- main -->
    <main class="main__container">
      <h1 class="main__container__h1">Conocenos</h1>
      <p class="main__container__p">
        El blog enseña a preparar diferentes tipos de café para difundir la
        cultura cafetera de Colombia y crear una comunidad apasionada por el
        café.
      </p>
    </main>
    <!-- /main -->
    <!-- article -->
    <article class="article__container">
      <h2>Nuestra Historia</h2>
      <h3>¿Cómo llegó el café a Colombia y cuál es su historia?</h3>
      <section class="article__container__section">
        <div>
          <p>
            El café llegó a Colombia en 1730 por los jesuitas desde Venezuela.
            El sacerdote Gumilla lo registró en su libro. En 1787, el
            arzobispo-virrey Caballero y Góngora informó sobre el cultivo en
            Girón y Muzo. La producción comercial comenzó en 1835 en Salazar de
            las Palmas gracias al sacerdote Romero. La producción se expandió a
            otras regiones con el tiempo.
          </p>
        </div>
        <img src="../../assets/img/about-2.png" alt="" />
      </section>
      <section class="article__container__section section__reverse">
        <div>
          <p>
            El café se exportó en Colombia gracias a la economía mundial. Se
            cotizó en bolsas mundiales y se convirtió en moneda internacional. A
            principios del siglo XX, la caficultura colombiana se consolidó
            gracias a la colonización de nuevas tierras en Antioquia, Caldas,
            Valle del Cauca y Tolima. Los pequeños propietarios rurales se
            beneficiaron y se creó una economía campesina.
          </p>
        </div>
        <img src="../../assets/img/about-3.png" alt="" />
      </section>
      <section class="article__container__section">
        <div>
          <p>
            En las primeras décadas del siglo XX, se creó una asociación de
            productores colombianos de café que dio lugar a la Federación
            Nacional de Cafeteros en 1927. El objetivo principal era lograr una
            caficultura organizada y competitiva. Colombia se convirtió en el
            segundo productor mundial de café después de Brasil a partir de
            1960, con 892,547 hectáreas de cultivo.
          </p>
        </div>
        <img src="../../assets/img/about-4.png" alt="" width="200px" />
      </section>
    </article>

    <!-- /article -->
    <script src="./aboutus.js"></script>
    <script src="../../assets/js/header.js"></script>
  </body>
</html>
