<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/reset.css">
  <link rel="stylesheet" href="../../assets/css/header.css">
  <link rel="stylesheet" href="./style.css">
  <script src="https://kit.fontawesome.com/965e8297ba.js" crossorigin="anonymous"></script>

  <title>Coffee</title>
</head>
<body>
     <!-- header -->
     <header class="header">
      <div class="header__container">
        <!-- logo -->
        <div class="header__container__logo">
          <a href="../../../index.html">
          <img src="../../assets/img/logo_sinFondo.png" alt="Logo WLANS">
        </a>
        </div>
        <!-- /logo -->
        <nav class="hmenu">
          <ul class="header__container__menu">
            <li class="header__container__menu__list">
              <a class="select" href="../../../index.html">Inicio</a>
            </li>
            <li class="header__container__menu__list">
              <a class="select" href="../../component/aboutus/aboutus.html">Acerca</a>
            </li>
            <li class="header__container__menu__list">
              <a class="select active" href="../../component/cursos/index.html">Cursos</a>
            </li>
            <li class="header__container__menu__list">
              <a class="select" href="../../component/contact/contact.html">Contactenos</a>
            </li>
            <li class="header__container__menu__list">
              <a href="../../component/ShoppingCart/ShoppingCart.html"><img class="sizeimg" src="../../assets/img/shoppingcart.png" alt="Shopping cart icon" /></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- /header -->

<!-- /Mi parte -->
<div class="banner">
  <h1>Nuestros cursos</h1>
  <p>Aprender de los expertos con las mejores recetas y consejos</p>
</div>

<section class="encabezado">
    <h2>APRENDE CON EXPERTOS</h2>
    <h3>¿Quieres ser barista, catador o tostador profesional?</h3>
    <p>Aprender una habilidad nueva, es ya de entrada un reto y hacerlo solo quizás lo convierte en un reto doble. Y a diferencia de un curso profesional, con ayuda de un profesor que ya probablemente cometió en el pasado todos los errores, aprendió de ellos y ahora, solamente tiene el conocimiento que funciona y que te ayuda a desarrollar esa habilidad mucho más rápido. Sigue leyendo para encontrar nuestros cursos</p>
</section>  

<div class="contenedor-icons">
    <div class="icons">
      <img src="../../assets/img/icons8-granos-de-café-50 (2).png" alt="granos">
    </div>
   

    <div class="icons">
      <img src="../../assets/img/icons8-cafetera-italiana-50.png" alt="cafetera">
    </div>

    <div class="icons">
      <img src="../../assets/img/icons8-café-para-llevar-50.png" alt="cafelisto">
    </div>
</div>



<section class="cursos">
  <hr>
    <h4>¡ESCOGE TU CURSO FAVORITO Y COMIENZA!</h4>
</section>

<div class="container">
  
  <div class="card">
    <img src="../../assets/img/curso1.jpg" alt="cursocafe">
    <h2>BARISTA ONE</h2>
    <p>Prepara bebidas internacionales con base en un espresso perfectamente preparado y calibrado.</p>
    <button> Ver mas</button>
  </div>

 
  
  <div class="card">
    <img src="../../assets/img/curso2.jpg" alt="cursocafe">
    <h2>FILTRADOS</h2>
    <p>En el mundo existen infinitas combinaciones de cafés y métodos de preparación.</p>
    <button> Ver mas</button>
  </div>

  <div class="card">
    <img src="../../assets/img/curso3.jpg" alt="cursocafe">
    <h2>TOSTIÓN</h2>
    <p>¿Cómo maximizar la calidad del café? en la tostión ocurre la magia. Aprende a crear curvas de tostión perfectas.</p>
    <button> Ver mas</button>
  </div>


</div>


<footer>
  <div class="container__footer">
      <div class="box__footer">
  
          <div class="terms">
              <p>¡Bienvenido al mundo del café!
                Te invitamos a inscribirte a nuestros cursos y abrir las puertas de este maravilloso mundo de aromas, sabores y conocimiento para convertirte en un Apasionado por el Café.</p>
          </div>
      </div>
      <div class="box__footer">
          <h3>Acerca de: </h3>
          <a href="#">WLANS Team </a>
          <a href="#">Trabaje con nosotros </a>
          <a href="#">Contacto </a>
      </div>
      
      <div class="box__copyright">
        <a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a>
        <a href="#"><i class="fa-brands fa-linkedin"></i>Linkedin</a>
        <a href="#"><i class="fa-brands fa-square-github"></i>GitHub</a>
          <hr>
          <p><b>Todo los derechos reservados 2023 @WLANS Team </b></p>
      </div>
  </div>
</footer>


</body>
</html>

</body>
</html>